.editor {
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
  margin-top: 25px;
}

.t-area {
  padding: 15px;
  height: calc(100vh - 300px);
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border: 2px solid #fff;
  color: #000;
  background: #fff;
  resize: none;
}

.color-block {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: block;
}
