a {
  text-decoration: none;
  color: #000000;
}

.list-item {
  padding: 15px 15px;
  /* margin-right: 15px; */
  display: block;
  margin: 10px 15px 10px 0;
}

.active {
  background: #3c4752;
  color: #fff;
}

.sketch-picker {
  position: absolute;
  z-index: 5;
}

.editor-bar {
  display: block;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

ul.method-func {
  list-style: none;
  display: flex;
  padding: 0 1.2rem;
  background: #ffffff;
  border-radius: 5px;
  align-items: center;
}

ul.method-func li {
  position: relative;
  cursor: pointer;
  display: block;
  color: #000000;
}

ul.method-func li .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #3c4752;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  font-size: 12px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -68px;
}

ul.method-func li .tooltip-text::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #3c4752 transparent transparent transparent;
}

ul.method-func li:hover .tooltip-text {
  visibility: visible;
}
